body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* or whichever your global CSS file is */

body.dark-mode,
.dark-mode .app {
    background-color: #333;
    color: #fff;
}

/* This ensures all text is visible in dark mode unless specifically styled otherwise */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color: #fff;
}
